.ButtonStyle {
    display: flex;
    justify-content: center;
    background-color:var(--colors-bg);
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    color: var(--colors-text);
    box-shadow: var(--shadow);
}

.ButtonStyle:hover {
    box-shadow: var(--shadow-for-hover);
}
