.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    background-color: var(--colors-bg);
    box-shadow: var(--shadow);
    box-sizing: content-box;
    color: var(--colors-text);
}


.searchBox:hover {
    box-shadow: var(--shadow-for-hover);
}

.searchInput {
    outline: none;
    border: none;
    background-color: var(--colors-bg);
    font-size: 16px;
}