.searchBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    width: 200px;
    border-radius: 5px;
    background-color: #2b3945;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
    margin-left: 15px;
}
.searchInput {
    outline: none;
    border: none;
    background-color: #2b3945;
    font-size: 16px;
    color: white;
}