.selectStyle {
    outline: none;
    border: none;
    background-color: #2b3945;
    font-size: 16px;
    padding: 16px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
}

.filterByRegionStyle {
    outline: none;
    border: none;
    background-color: #2b3945;
    font-size: 16px;
    padding: 16px;
    border-radius: 5px;
    color: #757575;
}