.headerWrapper {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--colors-bg);
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    align-items: center;
    box-shadow: var(--shadow);
    padding: 0 15px;
}

.headerBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.themeSwitcher {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 1s;
}
.themeSwitcher span {
    margin-left: 5px;
}

.headerBlock a {
    text-decoration: none;
    color: var(--colors-text);
}

.headerBlock a:hover {
    font-size: 25px;
    transition: 0.5s;
}

.headerBlock a:not(hover) {
    transition: 1s;
}